.nav {
  display: flex;
  justify-content: space-around;
}
.nav a {
  padding: 20px;
  border-radius: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 15vh;
}
