.button {
  width: 8rem;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.button:hover {
  background: rgb(241, 239, 239);
}
