.button {
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid rgb(114, 113, 113);
  background-color: #141414;
  color: #fff;
  transition: 0.2s;
  font-size: 0.8rem;
  font-weight: bold;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
