.radio {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  width: 100%;
}

.radio p {
  font-size: 25px;
  font-weight: bold;
}

.radio div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 65%;
}
