.radio {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  width: 100%;
}

.radio p {
  font-size: 25px;
  font-weight: bold;
}

.radio div {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}

@media (max-width: 600px) {
  .radio {
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
  }

  .radio div {
    width: 100%;
  }
}
